main,body {
 display: flex;
}

body {
 flex-direction: column;
}

main{ 
 flex-direction: row;
 flex: auto;
}

article {
 flex: 2;
 overflow-y: auto;
}

aside{
 flex: 1;
 overflow-y: auto;
}

table {
    background-color: light rgba(60, 132, 148, 0.765);
    border: 2px  black;

}

.header {
 background-color: rgb(23, 22, 22);
 color: white;
}

.footer{
background-color:  rgb(23, 22, 22);
color:white;
}

td, th {
    border: 1px solid black;
    padding: 8px;
  }

:root{
    --main-bg-color: pink;
}
body{
    background-color: var(--main-bg-color)
}
aside{
    background-color: var(--main-bg-color)
}
  
  